{% extends 'layout/restaurant.twig' %}

{% block title %}SISTEMA PARA SERVIR COMIDAS<br><strong>(Realtime application)</strong>{% endblock %}

{% block content %}

<div class="myContainer">
    <center>
        <b>MOZO</b><br />
        <a class="btn-img" href="{{baseUrl}}menu/index">
        <img src="http://www.loopian.com.ar/cursos/wp-content/uploads/2014/11/shutterstock_142427884-e1415460499670.jpg" style="width:200px; height:auto;" border=0 />
        </a>
    </center>
    <br />
    <center>
        <b>COCINA</b><br />
        <a class="btn-img" href="{{baseUrl}}cocina/index">
        <img src="http://www.insurancejournal.com/app/uploads/2016/05/food-prep-580x387.jpg" style="width:200px; height:auto;" border=0 />
        </a>
    </center>
</div>
{% endblock %}